{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} - カート{% endblock title %}

{% block content %}
<main class="bg-light pb-3">
    <hr class="my-0">
    <div class="container px-4 px-lg-5">
        <div class="py-5 row g-5">
            <!-- cart info -->
            <div class="col-md-6 col-lg-5 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">ショッピングカート</span>
                    <!-- items in cart -->
                    <span class="badge bg-primary rounded-pill">{{ quantities_in_cart }}</span>
                </h4>

                <ul class="list-group mb-3">
                    
                    {% if quantities_in_cart == 0 %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <p class="align-items-center">
                                お客様のカートには商品が入っていません。
                            </p>
                            <a class="col-md-8 btn btn-outline-dark" href="{% url 'shop:item-list' %}">トップページへ</a>
                        </div>
                    </li>
                    
                    {% else %}
                    <!-- item list -->
                    {% for cartitem in cartitems %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ cartitem.item.name }}</h6>
                            <small class="text-body-secondary">¥ {{ cartitem.item.price | intcomma }} x {{ cartitem.quantity }} 点</small>
                        </div>
                        <div class="row g-2 align-items-center">
                            <span class="col-auto text-body-secondary ">¥ {{ cartitem.sub_total | intcomma }}</span>
                            
                            <!-- 削除機能-->
                            <form  class="col-auto" method="post" action="{% url 'cart:delete-item' cartitem.item.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_pk" value="{{ cartitem.item.pk }}">
                                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    
                    <!-- promo code -->
                    {% comment %}　　プロモコードは実装するまでコメントアウト
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    {% endcomment %}
                    
                    <!-- total price -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>合計</span>
                        <strong class="me-5">¥ {{ total_price | intcomma }}</strong>
                    </li>
                </ul>
                
                <!-- promo code form -->
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>
                {% endif %}
            </div>

            <!-- Billing -->
            <div class="col-md-6 col-lg-7">
                {% comment %} <form class="needs-validation" method="post" action="{% url 'purchase:processing' %}" novalidate>  {% endcomment %}
                <form method="post" action="{% url 'purchase:processing' %}">
                    {% csrf_token %}
                    <h4 class="mb-3">購入者情報</h4>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="family-name" class="form-label">姓</label>
                            {{ purchaser_form.family_name }}
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <label for="given-name" class="form-label">名</label>
                            {{ purchaser_form.given_name }}
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="user-name" class="form-label">ユーザーネーム</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                {{ purchaser_form.user_name }}
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">メールアドレス</label>
                            {{ purchaser_form.email }}
                            {% comment %} 
                            <input type="email" class="form-control" id="email" placeholder="your-email-address@example.com" required> 
                            {% endcomment %}
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        
                        <hr class="my-4">

                    {% comment %}  
                        <div class="col-md-5">
                            <label for="country" class="form-label">国</label>
                            <select class="form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>日本</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                    {% endcomment %}

                    <h4 class="mb-3">お届け先（請求先）</h4>
{% comment %}  
                        <div class="col-md-3">  <!-- 都道府県と順番を入れ替えた -->
                            <label for="zip-code" class="form-label">郵便番号</label>
                            {{ shipping_address_form.zip_code }}
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="prefecture" class="form-label">都道府県</label>
                            {{ shipping_address_form.prefecture }}
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <label for="address" class="form-label">住所（都道府県以降）</label>
                            {{ shipping_address_form.address }}
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="building" class="form-label">建物名<span class="text-body-secondary">（任意）</span></label>
                            {{ shipping_address_form.building }}
                        </div>
{% endcomment %}
                {% comment %}  このチェックボックスは不要と思うので、コメントアウト
                    
                    
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">
                            Shipping address is the same as my billing address
                        </label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">
                            Save this information for next time
                        </label>
                    </div>
                {% endcomment %}

                <hr class="my-4">

                    <h4 class="mb-3">クレジットカード</h4>

                {% comment %}  
                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                    </div>
                {% endcomment %}
{% comment %}  
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cardholder" class="form-label">カード名義人</label>
                            {{ credit_card_form.cardholder }}
                            <small class="text-body-secondary">カードに表示されている名前</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="card-number" class="form-label">カード番号</label>
                            {{ credit_card_form.card_number }}
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="card-expiration" class="form-label">有効期限（MM/YY）</label>
                            {{ credit_card_form.card_expiration }}
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cvv" class="form-label">セキュリティコード</label>
                            {{ credit_card_form.cvv}}
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
{% endcomment %}
                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">
                        購入する
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock%}
