Django==4.2.5
django-environ==0.11.2
psycopg==3.1.12

# 以下のパッケージを追加した
pillow==10.4.0
# Herokuへのデプロイに必要なパッケージ
gunicorn==23.0.0
whitenoise==6.7.0
# 画像アップロードのために必要なパッケージ（どちらか）
django-cloudinary-storage==0.3.0
# cloudinary  #1.41.0

# basic認証
django-basicauth