{% extends "item_management/base.html" %}
{% load static %}

{% block pagetitle %}
    {% if 'register' in request.path %}
        新規商品登録
    {% else %}
        商品情報の編集
    {% endif %}
{% endblock pagetitle %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
    <div class="d-grid gap-2 col-8 mx-auto">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'management-item-list' %}" class="btn btn-outline-dark col-3">前の画面に戻る</a>
        </div>
        <table class="table">
            {{ form.as_table }}
        </table>
        <div class="d-grid gap-2">
            <input class="btn btn-outline-success" type="submit" value="登録">
        </div>
    </div>
</form>
{% endblock content %}